body{
	font-family: Helvetica, sans-serif; /* Altera a fonte de todo o texto */
	background: linear-gradient(to left , #B0C4DE, #4169E1);
	background-repeat: round;
}

#SuperiorTela{
	width:90%;
	height:60px;
	margin: auto; /* Centralizar */
	background-image: url("../Imagens/toposite.jpg");
	/*background: linear-gradient( to right, #B0C4DE, #4169E1) ;*/
	padding: 10px 20px;

}

#CorpodoSite{
	width: 90%; /* Largura da div */
	height:100%;
	margin: auto; /* Centralizar */
	background: linear-gradient(#e3e3e3, #A9A9A9);
	padding: 10px 20px; /* Espaçamento  */
}


h1{
	position: absolute;
	margin: 10px;
	letter-spacing: -1px;
	text-transform: uppercase;
}


.paragrafo{
	text-indent: 50px;
	margin: 10px;
}


textarea{
	width: 100%; 
	height: 400px;						
}


#Rodape{
	width:90%;
	height:100%;
	margin: auto; /* Centralizar */
	background: linear-gradient( to right, #B0C4DE, #4169E1) ;
	padding: 10px 20px;

}