body{
	font-family: Helvetica, sans-serif; /* Altera a fonte de todo o texto */
}

#CorpodoSite{
	width: 960px; /* Largura da div */
	margin: auto; /* Centralizar */
	background: #e3e3e3;
	padding: 10px 20px; /* Espaçamento  */
}

header nav ul{
	list-style: none; /* Tira o marcador das palavras */
	padding-left: 0px; 
}

header nav ul li{
	display: inline-block; /* Deixa as "li" uma do lado da outra */
	margin-right: 10px;
}

header nav ul li a{
	font-size: 16px;
	color: #ff6600;
	text-decoration: none;
}

header nav ul li a:hover{
	text-decoration: underline; /* Deixa sublinhado quando passar o mouse sobre */
}

textarea{
	margin: 0px; 
	width: 952px; 
	height: 525px;						
}