body{
	font-family: Helvetica, sans-serif; /* Altera a fonte de todo o texto */
	/*background: linear-gradient(to top , #B0C4DE, #4169E1);*/
	background-image: url("../Imagens/Blue sky.jpg");
	background-repeat: no-repeat;
}

#SuperiorTela{
	width:960px;
	height:60px;
	margin: auto; /* Centralizar */
	background-image: url("../Imagens/toposite.jpg");
	/*background: linear-gradient( to right, #B0C4DE, #4169E1) ;*/
	padding: 10px 20px;

}

#CorpodoSite{
	width: 960px; /* Largura da div */
	margin: auto; /* Centralizar */
	background: linear-gradient(#e3e3e3, #A9A9A9);
	padding: 10px 20px; /* Espaçamento  */
}


h1{
	position: absolute;
	margin: 10px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.paragrafo{
	text-indent: 50px;
}


textarea{
	margin: 0px; 
	width: 952px; 
	height: 525px;						
}

article form input{

}

#Rodape{
	width:960px;
	height:90px;
	margin: auto; /* Centralizar */
	background: linear-gradient( to right, #B0C4DE, #4169E1) ;
	padding: 10px 20px;

}